{% extends 'Home/Base.html' %}
{% load static %}

{% block content %}
<header>Rentee</header>
<p>
    1. Why Buy it while you can Rentee it ?
    You don't need to buy while you can find it on RENTEE. Find Machinery, Cars, Electronic Gadgets, Fully Equiped Workspaces, Football Pitches, Farms and many more for rent products and propererties.
   Satisfy your Wishes of using Quality Products and having Great Experinces in Cool places by Finding people or businesses Renting per  time that you use them. 
</p>
<p>2. Earn by renting your domant assets to others!
    Join Rentee to Earn money with your domant; Cars, Gaming Consoles, Farm Land, Machinery, Workspaces, Playing Grounds and more by reaching people and organisations willing to pay you for the time they use them according to your set rate charges.</p>

{% endblock %}